<main>
    <div class='container mt-5 pt-3'>
        <div class='row mb-2'>
            <div class='col-sm-12 col-md-3'>
                <a href='/wedding-categories' class='btn btn-danger float-start '><i class="fa-solid fa-arrow-left me-1"></i></i>Trở
                    về</a>
            </div>
        </div>
        <form action="/wedding-categories/handleAction" method="post" class='row'>
            <div class='row'>
                <div class='col-md-12 mb-3'>
                    <div class='card'>
                        <div class='card-header'>
                            <span><i class='bi bi-table me-2'></i></span>
                            Data Table
                        </div>
                        <div class='card-body'>
                            <div class='md-4 d-flex align-items-center'>
                                <div class='form-check me-2 p-0 ms-1'>
                                    <input class='check-all' type='checkbox' value='' id='flexCheckDefault' />
                                    <label class='form-check-label' for='flexCheckDefault'>
                                        Check All
                                    </label>
                                </div>
                                <select class='form-select w-25 me-2 text-center' name="action" aria-label='Default select example'>
                                    <option selected>--- Hành động ---</option>
                                    <option value='restore'>Khôi phục</option>
                                    <option value='force'>Xóa vĩnh viễn</option>
                                </select>
                                <button class='btn btn-primary submit' type='submit'>Thực hiện</button>
                                <div class='d-flex ms-auto my-3 my-lg-0'>
                                    <div class='input-group'>
                                        <input class='form-control' type='search' placeholder='Search' aria-label='Search' />
                                        <button class='btn btn-primary' type='submit'>
                                            <i class='bi bi-search'></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class='table-responsive mt-2'>
                                <table id='example' class='table table-striped data-table' style='width: 100%'>
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name {{{sortable 'value' _sort _page}}}</th>
                                            <th>CreatedAt{{{sortable 'createdAt' _sort _page}}}</th>
                                            <th>Khôi phục</th>
                                            <th>Xóa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#if weddingCategories}}
                                            {{#each weddingCategories}}
                                                <tr>
                                                    <td>
                                                        <div class='form-check'>
                                                            <input class='form-check-input' type='checkbox' id='flexCheckDefault' name='weddingCategories[]' value='{{this.id}}' />
                                                        </div>
                                                    </td>
                                                    <td>{{this.value}}</td>
                                                    <td>{{convertToDate this.destroyTime}}</td>
                                                    <td >
                                                        <button class='btn btn-primary px-1 py-1 ms-3' id='restore-wedding-categories' data-table='wedding-categories' data-actions='restore' data-id='{{this.id}}'>
                                                        <i class="bi bi-arrow-clockwise"></i>
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button
                                                            class='btn btn-danger px-1 py-1'
                                                            id='delete-wedding-categories'
                                                            data-table='wedding-categories'
                                                            data-actions='destroy'
                                                            data-id='{{this.id}}'
                                                        >
                                                            <i class='fa-solid fa-trash'></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            {{/each}}
                                        {{else}}
                                            <td colspan='12' class='text-center'>
                                                Danh sách trống !
                                            </td>
                                        {{/if}}
                                    </tbody>
                                </table>
                                {{#if weddingCategories}}
                                    <nav aria-label='...' class=''>
                                        {{{paging _page countPage}}}
                                    </nav>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<form id='deleteOne' method='post'></form>
<script src='/js/main.js'></script>
<script src='/js/displayModalComment.js'></script>
<script>
    closeModal('.close','.btn-secondary','#delete-wedding-categories', 'Xóa thông tin chức vụ','Xóa vĩnh viễn thông tin chức vụ, Bạn đã chắc chắn?');
    closeModal('.close','.btn-secondary','#restore-wedding-categories', 'Khôi phục thông tin chức vụ','Khôi phục thông tin chức vụ, Bạn đã chắc chắn?');
    handelCheckedBox('input[name="weddingCategories[]"]:checked');
</script>