<main>
    <div class='container mt-5 pt-3'>
        <div class='row mb-2'>
            <div class='col-sm-12 col-md-8'>
                <h4>ĐỒ CƯỚI</h4>
            </div>
            <div class='col-sm-12 col-md-4 pe-4'>
                <a href='/positions/trash' class='btn btn-primary ms-3 position-relative'>
                    <i class='fa-solid fa-trash me-1'></i>
                    Thùng rác({{{countDeleted}}})
                </a>
                <a href='/positions/create' class='btn btn-success float-end me-3'><i class='fa-solid fa-plus me-2'></i>Add new</a>
            </div>

        </div>
        <form action='/positions/handleAction' method='post' class='row'>
            <div class='row'>
                <div class='col-md-12 mb-3'>
                    <div class='card'>
                        <div class='card-header'>
                            <span><i class='bi bi-table me-2'></i></span>
                            Data Table
                        </div>
                        <div class='card-body'>
                            <div class='md-4 d-flex align-items-center'>
                                <div class='form-check me-2 p-0 ms-1'>
                                    <input class='check-all' type='checkbox' value='' id='flexCheckDefault' />
                                    <label class='form-check-label' for='flexCheckDefault'>
                                        Check All
                                    </label>
                                </div>
                                <select class='form-select w-25 me-2 text-center' name='action' aria-label='Default select example'>
                                    <option selected>--- Hành động ---</option>
                                    <option value='delete'>Xóa</option>
                                </select>
                                <button class='btn btn-primary submit' type='submit' disabled>Thực hiện</button>
                                <div class='d-flex flex-row-reverse w-50 ms-auto my-3 my-lg-0 list-group position-relative'>
                                    <div class='w-75 input-group float-end'>
                                        <input class='form-control' type='search' placeholder='Search' id='search' aria-label='Search' />
                                        <button class='btn btn-primary btn-search'>
                                            <i class='bi bi-search'></i>
                                        </button>
                                    </div>
                                    <ul style='z-index: 100;' class='list-group position-absolute top-100 w-75 h-100 text-center' id='myList'>
                                    </ul>

                                </div>
                            </div>
                            <div class='table-responsive mt-2'>
                                <table id='example' class='table table-striped data-table' style='width: 100%'>
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Mã {{{sortable 'code' _sort _page}}}</th>
                                            <th>Name {{{sortable 'value' _sort _page}}}</th>
                                            <th>CreatedAt{{{sortable 'createdAt' _sort _page}}}</th>
                                            <th>Chi tiết</th>
                                            <th>Xóa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#if positions}}
                                            {{#each positions}}
                                                <tr>
                                                    <td>
                                                        <div class='form-check'>
                                                            <input class='form-check-input' type='checkbox' id='flexCheckDefault' name='positions[]' value='{{this.id}}' />
                                                        </div>
                                                    </td>
                                                    <td>{{this.code}}</td>
                                                    <td>{{this.value}}</td>
                                                    <td>{{convertToDate this.createdAt}}</td>
                                                    <td>
                                                        <a href='/positions/{{this.slug}}' class='btn btn-primary px-1 py-1'>
                                                            <i class='fa-solid fa-pen'></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <button
                                                            class='btn btn-danger px-1 py-1'
                                                            id='delete-positions'
                                                            data-table='positions'
                                                            data-actions='destroy'
                                                            data-id='{{this.id}}'
                                                        >
                                                            <i class='fa-solid fa-trash'></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            {{/each}}
                                        {{else}}
                                            <td colspan='12' class='text-center'>
                                                Danh sách trống !
                                            </td>
                                        {{/if}}
                                    </tbody>
                                </table>
                                {{#if positions}}
                                    <nav aria-label='...' class=''>
                                        {{{paging _page countPage}}}
                                    </nav>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <dir></dir>
</main>
<form id='deleteOne' method='post'></form>
<script src='/js/main.js'></script>
<script src='/js/search.js'></script>
<script src='/js/displayModalComment.js'></script>
<script>
    closeModal('.close','.btn-secondary','#delete-positions', 'Xóa thông tin chức vụ','Bạn có chắc chắn muốn xóa trường này?');
    handelCheckedBox('input[name="positions[]"]:checked'); displaySearch('.btn-search', '#search', 'positions', '#myList', searchPosition);

</script>