<main>
    <div class='container mt-5 pt-3'>
        <div class='row mb-2'>
            <div class='col-sm-12 col-md-8'>
                <h4>Users</h4>
            </div>
            <div class='col-sm-12 col-md-4 pe-4'>
                <a href='/users/trash' class='btn btn-primary ms-3 position-relative'>
                    <i class='fa-solid fa-trash me-1'></i>
                    Thùng rác(1)
                </a>
                <a href='/users/create' class='btn btn-success float-end me-3'><i class='fa-solid fa-plus me-2'></i>Add
                    new</a>
            </div>

        </div>
        <div class='row'>
            <div class='row'>
                <div class='col-md-12 mb-3'>
                    <div class='card'>
                        <div class='card-header'>
                            <span><i class='bi bi-table me-2'></i></span>
                            Data Table
                        </div>
                        <div class='card-body'>
                            <div class='md-4 d-flex align-items-center'>
                                <div class='form-check me-2 p-0 ms-1'>
                                    <input class='check-all' type='checkbox' value='' id='flexCheckDefault' />
                                    <label class='form-check-label' for='flexCheckDefault'>
                                        Check All
                                    </label>
                                </div>
                                <select class='form-select w-25 me-2 text-center' aria-label='Default select example'>
                                    <option selected>--- Hành động ---</option>
                                    <option value='delete'>Xóa</option>
                                </select>
                                <button class='btn btn-primary submit' type='submit'>Thực hiện</button>
                                <div class='d-flex ms-auto my-3 my-lg-0'>
                                    <div class='input-group'>
                                        <input
                                            class='form-control'
                                            type='search'
                                            placeholder='Search'
                                            aria-label='Search'
                                        />
                                        <button class='btn btn-primary' type='submit'>
                                            <i class='bi bi-search'></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class='table-responsive mt-2'>
                                <table id='example' class='table table-striped data-table' style='width: 100%'>
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name {{{sortable 'lastName' _sort _page}}}</th>
                                            <th>Email {{{sortable 'email' _sort _page}}}</th>
                                            <th>Phone {{{sortable 'phone' _sort _page}}}</th>
                                            <th>Role</th>
                                            <th>CreatedAt{{{sortable 'createdAt' _sort _page}}}</th>
                                            <th>Xem</th>
                                            <th>Sửa</th>
                                            <th>Xóa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#if users}}
                                            {{#each users}}
                                                <tr>
                                                    <td>
                                                        <div class='form-check'>
                                                            <input
                                                                class='form-check-input'
                                                                type='checkbox'
                                                                id='flexCheckDefault'
                                                                name='users[]'
                                                                value='{{this.id}}'
                                                            />
                                                        </div>
                                                    </td>
                                                    <td>{{this.firstName}} {{this.lastName}}</td>
                                                    <td>{{this.email}}</td>
                                                    <td>{{this.phone}}</td>
                                                    <td>{{this.role.value}}</td>
                                                    <td>{{convertToDate this.createdAt}}</td>
                                                    <td>
                                                        <a href='/users/{{this.id}}' class='btn btn-primary px-1 py-1'>
                                                            <i class='fa-solid fa-eye'></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a class='btn btn-success px-1 py-1'>
                                                            <i class='fa-solid fa-pen'></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a class='btn btn-danger px-1 py-1'>
                                                            <i class='fa-solid fa-trash'></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {{/each}}
                                        {{else}}

                                        {{/if}}
                                    </tbody>
                                </table>

                                <nav aria-label='...' class=''>
                                    {{{paging _page countPage}}}
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src='/js/main.js'></script>
<script>
    handelCheckedBox('input[name="users[]"]:checked');
</script>